.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.content-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 53px;
}

.form-input form {
  display: grid;
  place-items: center;
}
.form-input form input {
  width: 80%;
  margin: 53px 53px 0 53px;
  padding: 15px;
  border-radius: 15px;
}
.form-input form input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
  border-radius: 15px;
}
.form-input form input::placeholder {
  color: gray;
}

.form-input .status {
  position: absolute;
  margin-left: 143px;
  margin-top: 15px;
  color: var(--color-secondary);
  font-size: 13px;
}

.box-right {
  flex: 1;
  height: 100vh;
  margin-left: 55px;
  margin-right: 55px;
}

.error {
  text-align: center;
  margin-top: 53px;
  font-size: 20px;
}

.linkButton {
  text-decoration: none;
  color: inherit;
}

.linkButton {
  position: relative;
  margin: auto;
  top: -35px;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.linkButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: var(--color-primary);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.linkButton span {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--color-title);
}

.linkButton svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color-secondary);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  border-radius: 50%;
}

.linkButton:hover:before {
  width: 100%;
  background: var(--color-primary);
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.linkButton svg {
  transform: translateX(0);
}

.linkButton:hover:active {
  transform: scale(0.96);
}
