.listFavoritesTitle,
.textNoList {
  text-align: center;
  margin: 62px;
}

.listFavorites {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 57px;
}

.listFavoritesCard {
  display: flex;
  margin-bottom: 15px;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 var(--card-shadow);
  height: 255px;
  background-color: var(--bg-card);
  margin: 55px;
}

.listFavoritesImage {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-position: cover;
}

.listFavoritesContent {
  padding: 10px;
  color: var(--color-paragraph);
  display: flex;
  flex-direction: column;
}

.listFavoritesContent h4 {
  font-size: 18px;
}

.linkViewFavorites {
  margin: 35px;
  margin-left: 55px;
}

.linkViewFavorites-text {
  margin-left: 15px;
}

svg.icon {
  margin-left: 0;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.listFavoritesTitle {
  font-size: 45px;
  font-weight: 900;
  font-family: var(--typography);
}

.close {
  cursor: pointer;
}
