h3 {
  margin-bottom: 73px;
  margin-top: 93px;
  text-align: center;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
.popular-container {
  /*background-color: aqua;*/
}
.popular-movie {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 57px;
}

.movie-container {
  display: flex;
  margin-bottom: 15px;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 255px;
  background-color: rgba(31, 31, 31, 1);
}

.movie-image {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-position: cover;
}

.movie-content {
  padding: 10px;
  color: white;
}

.movie-content h4 {
  font-size: 18px;
}
