@import "../../reset.css";

.popular-movie h3 {
  margin-bottom: 73px;
  margin-top: 93px;
  text-align: center;
  font-size: 30px;
  font-family: var(--typography);
}
.popular-container {
  height: 100%;
}
.popular-movie {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 57px;
}

.movie-container {
  display: flex;
  margin-bottom: 15px;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 var(--card-shadow);
  height: 255px;
  background-color: var(--bg-card);
}

.movie-image {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-position: cover;
}

.movie-content {
  padding: 10px;
  color: var(--color-paragraph);
}

.movie-content h4 {
  font-size: 18px;
}

.link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.1);
}
