@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;500;700&display=swap");

.App-header {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.App-logo {
  width: 90px;
  height: 65px;
  margin: 15px;
  border-radius: 5px;
}

.title {
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
}
