@media (min-width: 220px) {
  div.box-right {
    margin-left: 15px;
    margin-right: 15px;
  }
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr;
    place-items: none;
  }

  div.movie-content {
    font-size: 12px;
  }

  div.movie-content h4 {
    font-size: 13px;
  }

  div.header-link {
    right: -259px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  div.actors-list img {
    width: 95px;
    height: 95px;
    object-fit: cover;
  }

  img.movie-detail-image {
    width: 255px;
    height: 455px;
  }

  div.movie-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  h1.title {
    font-size: 25px;
  }

  img.App-logo {
    width: 35px;
    height: 35px;
  }

  div.box-right h3 {
    font-size: 22px;
    margin: 35px;
    text-align: center;
  }

  div.movie-container {
    height: 195px;
  }

  div.linkButton {
    padding: 0;
  }

  div.linkViewFavorites {
    margin: 0;
  }

  div.header {
    flex-direction: column;
  }

  div.header-link {
    padding: 25px;
    text-align: center;
  }

  button.linkViewFavorites {
    padding-top: 15px;
    margin-left: 75px;
  }
  div.header h2 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
  }

  div.linkViewFavorites {
    margin: 0;
  }

  div.header h2 {
    margin-right: 0;
  }

  div.linkButtonMovie {
    margin-top: 0;
  }

  div.movie-detail-text p {
    margin: 33px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 33px;
  }

  div.movie-detail h3 {
    margin: 23px;
    font-size: 33px;
  }

  div.movie-detail-text p {
    margin: 33px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 33px;
  }

  div.movie-detail-wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }

  div.movie-detail-text p {
    margin: 33px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 33px;
  }

  div.movie-detail h3 {
    margin: 23px;
    font-size: 33px;
  }

  div.movie-detail-container {
    padding: 25px;
  }

  div.movie-detail-wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }

  header.App-header h1 {
    font-size: 32px;
    margin-bottom: 45px;
  }

  button.linkHeader {
    top: 0;
    right: -36px;
  }

  div.movie-content p {
    margin: 10px;
  }

  a.linkButton span {
    font-size: 10px;
  }
  div.card-container {
    width: 90%;
  }

  button.buttonViewFavorites {
    border: none;
    background-color: var(--color-paragraph);
    position: relative;
    top: -5px;
    left: 8px;
  }

  p.textNotViewFavorites {
    font-size: 18px;
    font-family: var(--typography);
    text-align: center;
    margin-top: 55px;
  }

  h2.listFavoritesTitle {
    font-size: 40px;
    font-weight: 900;
  }

  div.listFavorites {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  div.listFavoritesCard {
    width: 90%;
    border-radius: 22px;
  }

  div.listFavoritesContent h4 {
    font-size: 20px;
  }

  div.listFavoritesContent > * {
    margin: 10px;
  }

  svg.star {
    font-size: 20px;
  }

  div.listFavoritesContent {
    font-size: 14px;
    font-family: var(--typography);
    background-color: var(--bg-card);
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }
}

@media (min-width: 390px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr;
    place-items: none;
  }

  header.App-header h1 {
    font-size: 32px;
  }
  div.header-link {
    right: 10px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  h1.title {
    font-size: 25px;
  }

  img.App-logo {
    width: 35px;
    height: 35px;
  }

  div.App-header {
    font-size: 22px;
  }

  div.box-right h3 {
    font-size: 22px;
    text-align: center;
    margin: 40px;
  }
  div.actors-list img {
    width: 95px;
    height: 95px;
    object-fit: cover;
  }

  div.movie-container {
    width: 100%;
  }

  div.movie-content p {
    font-size: 17px;
    margin: 8px;
  }

  img.movie-detail-image {
    width: 255px;
    height: 455px;
  }

  div.movie-content h4 {
    font-size: 17px;
  }

  div.linkButton {
    padding: 0;
  }

  button.linkViewFavorites {
    margin: 0;

    padding-top: 15px;
    margin-left: 85px;
  }

  div.header {
    flex-direction: column;
  }

  div.header h2 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  div.linkViewFavorites {
    margin: 0;
  }

  div.header h2 {
    margin-right: 0;
  }

  div.linkButtonMovie {
    margin-top: 0;
  }

  div.movie-detail-text p {
    margin: 33px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 33px;
  }

  div.movie-detail h3 {
    margin: 23px;
    font-size: 33px;
  }

  div.movie-detail-container {
    padding: 25px;
  }

  div.movie-detail-wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }

  a.linkButton span {
    font-size: 12px;
  }

  div.card-container {
    width: 70%;
  }

  button.buttonViewFavorites {
    border: none;
    background-color: var(--color-paragraph);
    position: relative;
    top: -35px;
    left: -68px;
  }

  p.textNotViewFavorites {
    font-size: 18px;
    font-family: var(--typography);
    text-align: center;
    margin-top: 55px;
  }

  h2.listFavoritesTitle {
    font-size: 40px;
    font-weight: 900;
  }

  div.listFavorites {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  div.listFavoritesCard {
    width: 100%;
    border-radius: 22px;
  }

  div.listFavoritesContent {
    font-size: 14px;
    font-family: var(--typography);
    background-color: var(--bg-card);
    border-radius: 22px;
  }

  div.listFavoritesContent h4 {
    font-size: 20px;
  }

  div.listFavoritesContent > * {
    margin: 10px;
  }

  svg.star {
    font-size: 30px;
  }
}

@media (min-width: 505px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr;
    place-items: none;
  }

  div.header-link {
    right: 10px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  div.actors-list img {
    width: 105px;
    height: 105px;
    object-fit: cover;
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 20px;
  }

  img.movie-detail-image {
    width: 255px;
    height: 455px;
  }

  div.movie-content h4 {
    font-size: 19px;
  }

  div.movie-container p {
    font-size: 15px;
  }

  div.movie-detail-text p {
    margin: 15px;
  }

  div.movie-detail h3 {
    font-size: 33px;
    margin-top: 33px;
  }

  button.linkButtonMovie {
    margin-top: 5px;
    margin-left: 175px;
    padding-top: 19px;
  }

  div.header-link {
    flex: 3;
    padding: 25px;
  }

  div.header {
    flex-direction: column;
  }

  div.header h2 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  div.linkViewFavorites {
    margin: 0;
  }

  button.linkViewFavorites {
    margin-left: 195px;
  }

  div.header h2 {
    margin-right: 0;
  }

  div.linkButtonMovie {
    margin-top: 0;
  }

  div.linkViewFavorites {
    margin: none;
  }

  div.movie-detail-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }

  header.App-header h1 {
    font-size: 40px;
    margin-bottom: 45px;
  }

  div.movie-container {
    width: 100%;
  }

  a.linkHeader {
    top: -2px;
  }

  a.link {
    width: 100%;
  }

  div.movie-content div.movie-content > * {
    margin: 5px;
  }

  div.box-right h3 {
    margin: 55px;
    text-align: center;
    font-size: 25px;
  }

  div.movie-content p {
    margin: 9px;
  }

  a.linkButton span {
    font-size: 12px;
  }

  div.card-container {
    width: 70%;
  }

  h2.listFavoritesTitle {
    font-size: 40px;
    font-weight: 900;
  }

  button.buttonViewFavorites {
    border: none;
    background-color: var(--color-paragraph);
    position: relative;
    top: -45px;
    left: -168px;
  }

  p.textNotViewFavorites {
    font-size: 18px;
    font-family: var(--typography);
    text-align: center;
    margin-top: 55px;
  }

  div.listFavorites {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  div.listFavoritesCard {
    width: 70%;
  }

  div.listFavoritesContent {
    font-size: 14px;
    font-family: var(--typography);
    border-radius: 22px;
  }

  div.listFavoritesContent h4 {
    font-size: 20px;
  }

  div.listFavoritesContent > * {
    margin: 10px;
  }
}

@media (min-width: 640px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  div.content-card {
    grid-gap: 45px;
  }

  div.header-link {
    right: 10px;
  }

  div.header h2 {
    font-size: 39px;
    padding-right: 255px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
  }

  div.movie-container {
    width: 80%;
  }

  div.movie-content {
    font-size: 18px;
  }

  img.movie-detail-image {
    width: 355px;
    height: 355px;
  }

  div.movie-content h4 {
    font-size: 19px;
  }

  div.movie-container p {
    font-size: 15px;
  }

  div.movie-detail h3 {
    font-size: 33px;
    margin-top: 25px;
  }

  div.movie-detail-text p {
    margin: 33px;
  }

  div.header-link {
    flex: 2;
  }

  button.linkButtonMovie {
    margin-top: 35px;
    margin-left: 5px;
    padding-top: 19px;
    flex: 2;
  }

  div.linkButton {
    padding: 0;
  }

  div.linkViewFavorites {
    margin: none;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 15px;
  }

  div.header {
    display: flex;
    flex-direction: row-reverse;
  }
  button.linkButtonMovie {
    margin-top: 0;
  }

  div.box-right h3 {
    margin: 55px;
    text-align: center;
    font-size: 25px;
  }

  header.App-header h1 {
    font-size: 40px;
    margin-bottom: 45px;
  }

  div.movie-container {
    width: 100%;
  }

  a.linkHeader {
    top: -2px;
  }

  div.movie-content > * {
    margin: 5px;
  }

  a.linkButton span {
    font-size: 12px;
  }

  div.card-container {
    width: 80%;
  }

  h2.listFavoritesTitle {
    font-size: 35px;
    font-weight: 900;
  }

  button.buttonViewFavorites {
    border: none;
    background-color: var(--color-paragraph);
    position: relative;
    top: -75px;
    left: -168px;
  }

  p.textNotViewFavorites {
    font-size: 18px;
    font-family: var(--typography);
    text-align: center;
    margin-top: 55px;
  }

  div.listFavorites {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  div.listFavoritesCard {
    width: 60%;
    border-radius: 22px;
  }

  div.listFavoritesContent {
    font-size: 16px;
    font-family: var(--typography);
    border-radius: 22px;
  }

  div.listFavoritesContent h4 {
    font-size: 29px;
  }

  div.listFavoritesContent > * {
    margin: 10px;
  }

  svg.star {
    font-size: 30px;
  }
}

@media (min-width: 870px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  div.content-card {
    grid-gap: 45px;
  }
  div.header h2 {
    font-size: 39px;
    flex: 2;
  }
  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
  }

  div.movie-detail-text p {
    margin: 23px;
  }

  img.movie-detail-image {
    width: 355px;
    height: 355px;
  }

  div.movie-content h4 {
    font-size: 17px;
  }

  div.movie-container p {
    font-size: 14px;
  }

  div.listFavorites {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, fr);
    margin-bottom: 57px;
  }

  div.listFavoritesCard {
    margin-left: 15px;
    border-radius: 22px;
  }

  button.linkButtonMovie {
    margin-top: 35px;
    margin-left: 35px;
    padding-top: 19px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 33px;
  }
  div.header {
    display: flex;
    flex-direction: row-reverse;
  }
  button.linkButtonMovie {
    margin-top: 0;
  }
  div.movie-detail-wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }

  div.box-right h3 {
    font-size: 25px;
    margin: 35px;
    text-align: center;
  }

  header.App-header h1 {
    font-size: 45px;
  }

  a.linkHeader {
    position: relative;
    right: 5px;
  }

  div.movie-container {
    width: 100%;
  }

  div.movie-content p {
    margin: 15px;
  }

  a.linkButton span {
    font-size: 14px;
  }

  div.card-container {
    width: 80%;
  }

  button.buttonViewFavorites {
    border: none;
    background-color: var(--color-paragraph);
    position: relative;
    top: -75px;
    left: -88px;
  }

  p.textNotViewFavorites {
    font-size: 18px;
    font-family: var(--typography);
    text-align: center;
    margin-top: 55px;
  }

  div.listFavorites {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  div.listFavoritesCard {
    width: 90%;
  }
  div.listFavoritesContent {
    font-size: 16px;
    font-family: var(--typography);
    border-radius: 22px;
  }

  div.listFavoritesContent h4 {
    font-size: 29px;
  }

  div.listFavoritesContent > * {
    margin: 10px;
  }

  svg.star {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  div.content-card {
    grid-gap: 45px;
  }

  div.header h2 {
    font-size: 50px;
    padding-right: 355px;
  }

  div.movie-detail h3 {
    font-size: 33px;
    margin-top: 33px;
  }

  div.box-right {
    margin-left: 53px;
    margin-right: 53px;
  }

  div.movie-container {
    width: 100%;
  }

  div.movie-content {
    font-size: 20px;
  }

  div.movie-content h4 {
    font-size: 17px;
  }

  div.movie-detail-text p {
    margin: 35px;
  }

  buton.linkButtonMovie {
    margin-top: 35px;
    margin-left: 35px;
  }

  div.movie-container p {
    font-size: 14px;
  }

  div.actors {
    width: 100%;
    height: 50%;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 53px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 32px;
  }

  div.header {
    display: flex;
    flex-direction: row-reverse;
  }

  button.linkButtonMovie {
    margin-top: 0;
  }

  div.movie-detail-wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }

  header.App-header h1 {
    font-size: 45px;
  }

  div.box-right h3 {
    margin: 55px;
    text-align: center;
    font-size: 25px;
  }

  a.link {
    width: 100%;
  }

  div.movie-content > * {
    font-size: 16px;
    margin: 15px;
  }

  a.linkHeader {
    position: relative;
    right: 55px;
  }

  div.actors-list p {
    text-align: center;
    margin: 10px;
  }

  div.actors-list h4 {
    text-align: center;
    margin-bottom: 5px;
  }

  a.linkHeader {
    position: relative;
    right: 45px;
    top: -65px;
  }

  a.linkButton span {
    font-size: 14px;
  }

  div.card-container {
    width: 100%;
  }

  button.buttonViewFavorites {
    border: none;
    background-color: var(--color-paragraph);
    position: relative;
    top: -85px;
  }

  p.textNotViewFavorites {
    font-size: 18px;
    font-family: var(--typography);
    text-align: center;
    margin-top: 55px;
  }

  div.listFavorites {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  div.listFavoritesCard {
    width: 80%;
    border-radius: 22px;
  }

  div.listFavoritesContent {
    font-size: 16px;
    font-family: var(--typography);
    margin: 10px;
    border-radius: 22px;
  }

  div.listFavoritesContent h4 {
    font-size: 29px;
  }
  div.listFavoritesContent > * {
    margin: 10px;
  }

  svg.star {
    font-size: 35px;
  }
}

@media (min-width: 1280px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  div.content-card {
    grid-gap: 45px;
  }

  div.card-container {
    width: 100%;
  }

  div.App-header {
    font-size: 55px;
  }

  div.header h2 {
    font-size: 52px;
    padding-right: 255px;
  }

  div.header-link {
    flex: 1;
  }

  div.box-right {
    margin-left: 53px;
    margin-right: 53px;
  }

  div.movie-content {
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  div.movie-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img.movie-detail-image {
    width: 455px;
    height: 755px;
    margin-left: 55px;
  }

  div.movie-detail-text p {
    margin: 45px;
  }

  div.actors {
    width: 100%;
    height: 50%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 53px;
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 10px;
  }

  div.link {
    text-decoration: none;
    color: var(--color-paragraph);
    margin: 0 auto;
    width: 60%;
  }

  div.link:hover {
    color: var(--color-title);
  }

  div.movie-detail div.movie-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  div.movie-detail h3 {
    margin-bottom: 3px;
    margin-top: 35px;
    font-size: 33px;
  }

  header.App-header h1 {
    font-size: 46px;
    font-family: "Open Sans", sans-serif;
  }

  div.movie-content {
    font-size: 16px;
    margin: 0;
  }

  div.movie-content h4 {
    font-size: 20px;
  }

  div.movie-container {
    height: 255px;
  }

  h1.title {
    font-size: 35px;
  }

  div.box-right h3 {
    font-size: 30px;
  }

  div.header {
    display: flex;
    flex-direction: row-reverse;
  }

  button.linkButtonMovie {
    margin-top: 0;
  }

  div.movie-detail-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }

  div.box-right h3 {
    margin: 55px;
    text-align: center;
  }

  a.link {
    width: 100%;
  }

  a.linkHeader {
    position: relative;
    right: 45px;
    top: -65px;
  }

  div.actors-list h4 {
    text-align: center;
    margin-bottom: 5px;
  }

  a.linkButton span {
    font-size: 14px;
  }

  h2.listFavoritesTitle {
    font-size: 45px;
    font-weight: 900;
  }

  button.buttonViewFavorites {
    border: none;
    background-color: var(--color-paragraph);
    position: relative;
    top: -95px;
  }

  p.textNotViewFavorites {
    font-size: 18px;
    font-family: var(--typography);
    text-align: center;
    margin-top: 55px;
  }

  div.listFavorites {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  div.listFavoritesCard {
    width: 80%;
  }

  div.listFavoritesContent {
    font-size: 16px;
    font-family: var(--typography);
    border-radius: 22px;
  }

  div.listFavoritesContent h4 {
    font-size: 29px;
  }

  div.listFavoritesContent > * {
    margin: 10px;
  }

  svg.star {
    font-size: 40px;
  }
}

@media (min-width: 1536px) {
  #root {
    height: 100%;
  }
  div.movie-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img.movie-detail-image {
    width: 455px;
    height: 755px;
  }

  div.actors {
    width: 100%;
    height: 50%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 53px;
  }

  h1.title {
    font-size: 35px;
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
  }

  div.actors-list p {
    text-align: center;
    margin: 15px;
  }

  div.header-link {
    background-color: #0f0f97;
    cursor: pointer;
    padding: 15px;
    width: 95px;
    border-radius: 12px;
    display: flex;
    position: absolute;
    right: 150px;

    flex: 1;
  }

  div.header-link:hover {
    background-color: white;
    border: 2px solid #0f0f97;
  }

  div.link {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 60%;
  }

  div.link:hover {
    color: black;
  }

  div.movie-detail-container {
    display: flex;
    flex-direction: row;
  }

  div.movie-detail-text {
    margin: 45px;
  }

  div.movie-detail h3 {
    margin-bottom: 3px;
    margin-top: 35px;
  }

  div.movie-content {
    font-size: 16px;
  }

  div.movie-content h4 {
    font-size: 20px;
  }

  div.header {
    display: flex;
    flex-direction: row-reverse;
  }

  div.movie-detail-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
}
