@media (min-width: 220px) {
  div.box-right {
    margin-left: 15px;
    margin-right: 15px;
  }
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr;
    place-items: none;
  }

  div.movie-content {
    font-size: 12px;
  }

  div.movie-content h4 {
    font-size: 13px;
  }

  div.header-link {
    right: -259px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  div.actors-list img {
    width: 95px;
    height: 95px;
    object-fit: cover;
  }

  img.movie-detail-image {
    width: 255px;
    height: 455px;
  }

  div.movie-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1.title {
    font-size: 25px;
  }

  img.App-logo {
    width: 35px;
    height: 35px;
  }

  div.box-right h3 {
    font-size: 22px;
  }

  div.movie-container {
    height: 195px;
  }
}

@media (min-width: 390px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr;
    place-items: none;
  }

  div.header-link {
    right: 10px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  h1.title {
    font-size: 25px;
  }

  img.App-logo {
    width: 35px;
    height: 35px;
  }

  div.box-right h3 {
    font-size: 22px;
  }
  div.actors-list img {
    width: 95px;
    height: 95px;
    object-fit: cover;
  }

  div.movie-container {
    width: 100%;
  }

  div.movie-content {
    font-size: 17px;
  }

  img.movie-detail-image {
    width: 255px;
    height: 455px;
  }

  div.movie-content h4 {
    font-size: 17px;
  }
}

@media (min-width: 505px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr;
    place-items: none;
  }

  div.header-link {
    right: 10px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  div.actors-list img {
    width: 105px;
    height: 105px;
    object-fit: cover;
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 20px;
  }

  img.movie-detail-image {
    width: 255px;
    height: 455px;
  }

  div.movie-content h4 {
    font-size: 19px;
  }

  div.movie-container p {
    font-size: 15px;
  }

  div.movie-detail-text p {
    margin: 15px;
  }

  div.movie-detail h3 {
    font-size: 33px;
    margin-top: 33px;
  }

  button.linkButtonMovie {
    margin-top: 35px;
    margin-left: 5px;
    padding-top: 19px;
  }

  div.header-link {
    flex: 2;
  }

  div.header-link h2 {
    text-align: none;
  }
}

@media (min-width: 640px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr;
    place-items: none;
  }

  div.header-link {
    right: 10px;
  }

  div.header h2 {
    font-size: 39px;
  }

  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
  }

  div.movie-container {
    width: 80%;
  }

  div.movie-content {
    font-size: 18px;
  }

  img.movie-detail-image {
    width: 355px;
    height: 355px;
  }

  div.movie-content h4 {
    font-size: 19px;
  }

  div.movie-container p {
    font-size: 15px;
  }

  div.movie-detail h3 {
    font-size: 33px;
    margin-top: 25px;
  }

  div.movie-detail-text p {
    margin: 33px;
  }

  div.header-link {
    flex: 2;
  }

  button.linkButtonMovie {
    margin-top: 35px;
    margin-left: 5px;
    padding-top: 19px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 15px;
  }
}

@media (min-width: 784px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  div.header h2 {
    font-size: 39px;
    flex: 2;
  }
  div.actors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
  }

  div.movie-detail-text p {
    margin: 23px;
  }

  img.movie-detail-image {
    width: 355px;
    height: 355px;
  }

  div.movie-content h4 {
    font-size: 17px;
  }

  div.movie-container p {
    font-size: 14px;
  }

  div.listFavorites {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, fr);
    margin-bottom: 57px;
  }

  div.listFavoritesCard {
    margin-left: 15px;
  }

  button.linkButtonMovie {
    margin-top: 35px;
    margin-left: 35px;
    padding-top: 19px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 33px;
  }
}

@media (min-width: 1024px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div.header h2 {
    font-size: 50px;
  }

  div.movie-detail h3 {
    font-size: 33px;
    margin-top: 33px;
  }

  div.box-right {
    margin-left: 53px;
    margin-right: 53px;
  }

  div.movie-container {
    width: 100%;
  }

  div.movie-content {
    font-size: 20px;
  }

  div.movie-content h4 {
    font-size: 19px;
  }

  div.movie-detail-text p {
    margin: 35px;
  }

  button.linkButtonMovie {
    margin-top: 35px;
    margin-left: 35px;
  }

  div.movie-container p {
    font-size: 16px;
  }

  div.actors {
    width: 100%;
    height: 50%;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 53px;
  }

  div.actors-list img {
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 32px;
  }
}

@media (min-width: 1280px) {
  div.content-card,
  div.popular-movie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  div.header h2 {
    font-size: 52px;
  }

  div.box-right {
    margin-left: 53px;
    margin-right: 53px;
  }

  div.movie-content {
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  div.movie-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img.movie-detail-image {
    width: 455px;
    height: 755px;
    margin-left: 55px;
  }

  div.movie-detail-text p {
    margin: 45px;
  }

  div.actors {
    width: 100%;
    height: 50%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 53px;
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
    margin: 0 auto;
  }

  div.actors-list p {
    text-align: center;
    margin: 15px;
  }

  div.link {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 60%;
  }

  div.link:hover {
    color: black;
  }

  div.movie-detail div.movie-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  div.movie-detail h3 {
    margin-bottom: 3px;
    margin-top: 35px;
    font-size: 33px;
  }

  div.App-header {
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
  }

  div.movie-content {
    font-size: 16px;
  }

  div.movie-content h4 {
    font-size: 20px;
  }

  div.movie-container {
    height: 255px;
  }

  h1.title {
    font-size: 35px;
  }

  div.box-right h3 {
    font-size: 30px;
  }
}

@media (min-width: 1536px) {
  #root {
    height: 100%;
  }
  div.movie-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img.movie-detail-image {
    width: 455px;
    height: 755px;
  }

  div.actors {
    width: 100%;
    height: 50%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 53px;
  }

  h1.title {
    font-size: 35px;
  }

  div.actors-list img {
    width: 155px;
    height: 155px;
    object-fit: cover;
  }

  div.actors-list p {
    text-align: center;
    margin: 15px;
  }

  div.header-link {
    background-color: #0f0f97;
    cursor: pointer;
    padding: 15px;
    width: 95px;
    border-radius: 12px;
    display: flex;
    position: absolute;
    right: 150px;
  }

  div.header-link:hover {
    background-color: white;
    border: 2px solid #0f0f97;
  }

  div.link {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 60%;
  }

  div.link:hover {
    color: black;
  }

  div.movie-detail-container {
    display: flex;
    flex-direction: row;
  }

  div.movie-detail-text {
    margin: 45px;
  }

  div.movie-detail h3 {
    margin-bottom: 3px;
    margin-top: 35px;
  }

  div.movie-content {
    font-size: 16px;
  }

  div.movie-content h4 {
    font-size: 20px;
  }
}
